* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

.pro {
       display: flex;
       width: 99vw;
       min-height: 100vh;
       background-color: #d2cfcf;
       padding: 40px 50px;
       gap: 15px;
       /* position: relative; */
}


.profile {
       width: 35%;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 15px;
       /* position: fixed;
       top: 4%;
       left: 50px; */

}

.profile>.profileImg {
       width: 100%;
       height: 14%;
       display: flex;
       background-color: white;
       box-shadow: 1px 1px 8px gray;

}


.EditSection {
       width: 100%;
       max-height: 84%;
       background-color: #fefefe;
       display: flex;
       flex-direction: column;
       box-shadow: 1px 1px 8px gray;

}

.EditSection>div {
       padding: 10px 35px;
}

.EditSection>div>h1 {
       font-size: 24px;
       color: rgb(156, 153, 153);
       font-weight: 700;
}

.EditSection>div>ul {
       color: black;
       font-size: larger;
       display: flex;
       flex-direction: column;
       gap: 10px;
}




.mainDetails {
       width: 65%;
       height: auto;
       padding: 35px;
       background-color: white;
       box-shadow: 1px 1px 8px gray;
       /* position: sticky;
       right: 50px;
       top: 120px; */

}