* {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
}

.spinner {
       position: relative;
       top: 250px;
       width: 30px;
       height: 30px;
       border: 4px solid #ccc;
       border-top-color: #333;
       border-radius: 50%;
       animation: spin 0.8s linear infinite;
       margin: auto;
}

@keyframes spin {
       to {
              transform: rotate(360deg);
       }
}

.bookDetails {
       height: 100vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       gap: 5px;
}

.bookDetails>.bookInfo {
       width: 100%;
       min-height: 65%;
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 15px;

}

.bookDetails>.bookInfo>.bookImg {
       border: 1px solid gray;
       margin: 15px 90px;
       display: flex;
       justify-content: center;
       position: relative;
}

.bookDetails>.bookInfo>.bookImg img {
       border: 1px solid rgb(237, 232, 232);
       height: 450px;
       width: 320px;
}

.bookDetails>.bookInfo>.bookImg button {
       position: absolute;
       right: 10px;
       top: 5px;
       font-size: x-large;
}

.bookDetails>.bookInfo>.details {
       margin: 15px 0;
       display: flex;
       flex-direction: column;
       padding: 10px 0;
}

.bookDetails>.bookInfo>.details>.title {
       font-size: xx-large;
       font-weight: 600;
       padding: 5px 0;
}

.bookDetails>.bookInfo>.details>.about {
       font-size: large;
       padding: 8px 0;
}


.bookDetails>.bookInfo>.details>.prise {
       display: flex;
       gap: 10px;
       font-size: x-large;
}

.bookDetails>.bookInfo>.details>.prise .curr {
       font-weight: 600;
}

.bookDetails>.bookInfo>.details>.prise .totalPrise {
       font-weight: 600;
       color: gray;
       text-decoration: line-through;
}

.bookDetails>.bookInfo>.details>.prise .disCount {
       color: green;
       font-weight: 600;
}

.bookDetails>.bookInfo>.details>.saveAmount {
       font-size: large;
       padding: 10px 0;
}

.bookDetails>.bookInfo>.details>hr {
       margin: 3px 0;
}

.bookDetails>.bookInfo>.details>.logoBox {
       padding: 20px 0;
       width: 60%;
       display: flex;
       justify-content: space-between;
}

.bookDetails>.bookInfo>.details>.btn {
       display: flex;
       justify-content: space-around;
       padding: 22px 0;
}

.bookDetails>.bookInfo>.details>.btn>button {
       border: 1px solid rgb(245, 115, 137);
       border-radius: 7px;
       width: 35%;
       height: 150%;
       font-weight: 600;
}

.bookDetails>.bookInfo>.details>.btn>button:first-child {
       color:
              rgb(214, 16, 171);
}

.bookDetails>.bookInfo>.details>.btn>button:last-child {
       background-color: rgb(214, 16, 171);
       color: white;
}

.bookDetails>.other {
       width: 100%;
       min-height: 55%;
       display: flex;
       gap: 5px;
}

.bookDetails>.other>.rating {
       height: 100%;
       width: 50%;
       display: flex;
       flex-wrap: wrap;
}

.bookDetails>.other>.rating>h1 {
       width: 100%;
       text-align: center;
       font-size: x-large;
       font-weight: 600;

}

.bookDetails>.other>.rating>div {
       width: 50%;
       height: 85%;
}

.bookDetails>.other>.rating>.allrating {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.bookDetails>.other>.rating>.allrating b {
       font-size: xx-large;
}

.bookDetails>.other>.rating>.individualRat {
       display: flex;
       justify-content: center;
       align-items: center;

}

.bookDetails>.other>.rating>.individualRat li {
       display: flex;
       align-items: center;
       gap: 8px;
}

.bookDetails>.other>.rating>.individualRat span {
       background-color: gray;
       display: block;
       width: 170px;
       height: 4px;
}

.bookDetails>.other>.rating>.individualRat span>p {
       background-color: green;
       opacity: 1;
       width: 70%;
       display: block;
}

.bookDetails>.other>.specification {
       height: 100%;
       width: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
}

.bookDetails>.other>.specification>table {
       width: 75%;
       height: 65%;
       text-align: start;

}

.bookDetails>.other>.specification>table {

       border: 1px solid gray;
       border-radius: 10px;
}

.bookDetails>.other>.specification>table>tr td {
       padding: 0 15px;
}

.bookDetails>.other>.specification>table>tr td:first-child {
       width: 30%;
}

.bookDetails>.other>.specification>table th {
       border: 1px solid gray;
}