*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
main{
       min-height: 100vh;
       width: 99vw;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background-color: rgb(40, 40, 238);
}
.main{
       height: 90vh;
       width: 99vw;
       display: flex;
       align-items: center;
       justify-content: center;
}
.container{
       border: 2px solid black;
       border-radius: 15px;
       min-height: 350px;
       width: 350px;
       display: flex;
       align-items: center;
       flex-direction: column;
       background-color: white;
       gap: 10px;
}
.container> .heading{
       order: 1;
       text-align: center;
       padding: 5px;
       height: auto;
}.heading>h1{
       font-size: xx-large;
       
}
.container>.box{
       width: 85%;
       height: 15%;
       order: 2;
       border: 2px solid ;
       display: flex;
       gap: 0px;
       border-radius: 15px;
       /* overflow: hidden; */
       box-sizing: border-box;
}.box > button{
       box-sizing: border-box;
       border-radius: 10px;
       border:rgb(37, 37, 243);
       background-color:  rgb(37, 37, 243);
       width: 50%;
       height: 50px;
       font-size: x-large;
}.box > button:hover {
       background-color:  rgb(228, 228, 247);
       color: black;
       border: white;
}
.container>.componets{
       order: 3;
       height: auto;
       width: 80%;
}