*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

.Logout{
       width: 100%;
}
.Logout > h1{
       font-size: xx-large;
       font-weight: 600;
}

.Logout > .user{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       gap: 15px;
}

.Logout > .user button{
       border: 1px solid gray;
       padding: 4px;
       border-radius: 5px;
       background-color: blue;
       color: white;
}