.nav {
       border-bottom: 1px solid gray;
       display: flex;
       background-color: #ffffff;
       height: 10vh;
       justify-content: space-between;
       text-align: center;
       padding: 4px 2px;
       box-sizing: border-box;
       width: 100%;
       position: fixed;
       top: 0;
       overflow: hidden;
       z-index: 999;
}

main{
       /* overflow: scroll; */
       position: relative;
       /* margin-top: 10vh; */
       top: 10vh;
       z-index: 2;
}
.nav>div {
       flex: 1;
}

.nav>.img {
       padding: 0 10px;
       box-sizing: border-box;
       display: flex;
       justify-content: start;
       align-items: center;
}

.nav>.img img {
       height: 58px;
}

.navIcon {
       display: none;
}

.nav>.list {
       flex: 2;
       display: flex;
       justify-content: center;
       align-items: center;
}

.nav>.list>ul {
       display: flex;
       list-style: none;
       gap: 25px;

}

.nav>.list>ul li a {
       text-decoration: none;
       color: black;
       font-size: 18px;
       font-weight: 600;
       font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav>.search {
       box-sizing: border-box;
       display: flex;
       justify-content: end;
}

.nav>.search>ul:last-child {
       display: none;
}

.nav>.search>ul:first-child {
       display: flex;
       list-style: none;
       gap: 30px;
       color: black;
       align-items: center;
       width: 190px;
}

.nav>.search>ul>li>a {
       font-size: larger;
       color: black;
}

.openNavicon {
       /* border: solid; */
       padding: 3px 0;
       width: 100%;
       height: 100vh;
       background-color: #e4cece;
       z-index: 0;

}

.openmenu {
       height: 8vh;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0 20px;
}

.openmenu>span {
       font-size: larger;
       font-weight: 600;
}

.openmenu>button {
       border: none;
       background-color: #e4cece;
       font-weight: 600;
       font-size: larger;
}

.openNavicon>.menuOption ul {
       list-style: none;
       display: flex;
       flex-direction: column;
       align-items: start;
       padding: 20px;
       gap: 15px;
}

.openNavicon>.menuOption ul li a {
       text-decoration: none;
       font-weight: 600;
       font-size: larger;
       color: black;

}


@media (max-width: 1024px) {
       .nav>.img {
              order: 2;
              display: flex;
              justify-content: center;
       }

       .navIcon {
              order: 1;
              display: flex;
              width: 50%;
              justify-content: start;
              box-sizing: border-box;
       }

       .navIcon>button {
              padding-left: 20px;
              border: none;
              background-color: rgb(255, 255, 255);

       }

       .navIcon>button>i {
              font-size: x-large;
       }

       .nav>.list {
              display: none;
       }

       .search {
              order: 3;
       }

       .nav>.search>ul:last-child {
              display: none;
              padding: 12px 8px;
              align-items: center;
       }

       .nav>.search>ul:first-child {
              display: flex;
              list-style: none;
              gap: 30px;
              color: black;
              align-items: center;

       }
}



@media (max-width: 700px) {
       .img {
              order: 2;
              margin-left: 0px;
       }

       .nav>.search>ul:last-child {
              display: none;
       }

       .nav>.search>ul:first-child {
              display: flex;
              list-style: none;
              gap: 30px;
              color: black;
              align-items: center;
       }

       .navIcon {
              order: 1;
              display: flex;
              flex: 1 !important;
              width: 100%;
              justify-content: start;
              box-sizing: border-box;
       }

}



@media (max-width: 500px) {

       .nav>.search>ul:first-child {
              display: none;

       }

       .nav>.search>ul:last-child {
              display: block;
              list-style: none;
              gap: 30px;
              color: black;
              align-items: center;
       }

}