.signUp{
       /* background-color: rebeccapurple; */
       width: 100%;
       /* height: auto; */
       display: flex;
       flex-direction: column;
       gap: 15px;
       margin: 15px 0;
}

.signUp > input{
       border: 1px solid black;
       width: 100%;
       height: 50px;
       border-radius: 15px;
       padding: 10px;
}.checkbox {
       padding: 5px;
       height: 25px;
       display: flex;
       gap: 5px;
       align-items: center;
       font-size: larger;
}.checkbox > input{
       height: 25px;
       font-size: xx-large;
}
.signUp > button {
       border: 1px solid black;
       width: 100%;
       height: 50px;
       border-radius: 15px;
       padding: 10px;
       /* background-color: rgb(54, 54, 230); */
       /* background-color: rgb(12, 12, 231); */
       /* color: aliceblue; */
}